@import "https://raw.githubusercontent.com/Tnitro21/Test/main/Calendar_CW.Calendar_CW.css";

/*Ellipsis on the section text*/
.dhx_matrix_scell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}
