.dhx_matrix_scell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

.dhx_marked_timespan {
    background-color: #fadcd3 !important;
}
